
/***formulario2***/
body{
    width: 100%;
    height: 100vh;    
    font-size:20px;
    font-family: 'Krub', sans-serif;
    color:#fff;
    background: linear-gradient(-45deg,#9c9c9c, #dfdfdf, #8f8f8f, #fffefe);
    background-size: 400% 400%;
    position:relative;
   
}
*{
    box-sizing: border-box;
    
}

.fw-500{
    font-weight: 700;
}

.centerr{
    align-self: center;
    margin-top:10px;
    padding: 10px 30px;
}

.boton-login{
    border: none;
    width: 100%;
    color: cornsilk;
    border-radius: 5px;
    background:rgb(4, 45, 99);
    padding: 5px 5px;
    border-radius: 5px;
      
}
.boton-login:hover{
    background: rgb(31, 87, 206);
}

.fs-as{
    font-size: 1.3rem
}
.formulario-2{
    background: linear-gradient(-45deg,#9c9c9c, #dfdfdf, #8f8f8f, #fffefe);
    background-size: 400% 400%;
    position:relative;
    margin-top: 60px;
    padding: 5px;
    box-shadow: 7px 13px 37px rgb(119, 114, 114);
    border-radius: 8px;  
}

.formulario-3{
    background: linear-gradient(-45deg,#9c9c9c, #dfdfdf, #8f8f8f, #fffefe);
    background-size: 400% 400%;
    position:relative;
    margin-top: 45px;
    padding: 5px;
    box-shadow: 7px 13px 37px rgb(119, 114, 114);
    border-radius: 8px;  
}
.contenedor-2{
    width: 100%;
    padding: 20px; 
    border-radius: 5px;
    
     
    
}
.input-contenedor[type="text, email, contraseña"]{
    font-size: 20px;
    width: 100px;
    padding: 10px;
    border:none;
    color: rgb(100, 100, 100);
    text-align: 5px;
    
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px;   
    color: rgb(139, 138, 138);
      
}
p{
    color: rgb(61, 61, 59);
}
.logo-2{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding: 5px;
}


/***contactanos***/


.antiguo-header {
    display: flex;
    justify-content: center;
    color: #F1F1F1;
    letter-spacing: 0.225em;
}

body{
    display: inline;
    background-color:#2C3E50;
}
.estilo{
    display: flex;
    align-content: center;
    justify-content: center;
}
label.error{
    margin-top: 0.625em;
    color: red;

}
#formulario{
    width: 80em;
    display: inline-block;
    background-color: #F1F1F1;
    font-style: italic;
    border-radius: 0.625em;
    padding-left: 0.625em;
    padding-top: 0.625em;
}
#boton-ql{
    margin: 1em;
}
#comentario{
    height: 6.25em;
    width: 25em;
    resize: none;
}
#caja{
    margin-top: 1.0em;
    display: flex;
    flex-direction: column;
}

/***nav***/
body{

    font-size:16px;
    font-family: 'Krub', sans-serif;
    background: linear-gradient(-45deg,#cac5c5, #dfdfdf, #c9bebe, #fffefe);
    background-size: 400% 400%;
    position:relative;
}


.padd{
    padding: 10px 100px !important;
}



li{
    font-size: 20px;
}