body{
    
    font-size:16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient( to top, #dbdbdb 0%, white 100% );
}

.padd{
    padding: 10px 100px !important;
}



li{
    font-size: 20px;
}




.form-inline{
    display: flex;
    justify-content: center;
}


.margen-50{

    margin-top: 50px;
}


.margen-100{

    margin-top: 100px;
}



.centrar{
    text-align: center;
    
}


.footer2{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    background-color: aliceblue;
}
.contenedor{
    width: 100%;
   
}

.home>img{
    width: 40px ;
    height: 40px;
    margin: 5px;
}

.home, .admin{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}


@media(min-width: 768px){
    .home{
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }


    .admin{

        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .contenedor{
        width: 80%;
    }

    .btn-img{
        width: 300px;
    }

    

}




/**Nuestros artistas***/


.integrante{

    display: flex;

    align-items: center;

    flex-direction: column;

    margin-bottom: 50px;

}


.integrante_img{

    width: 50%;
    

    padding-top: 3%;

    border-radius: 50%; 
    background-position: center;
    background-size: cover;

}

.aa{
    height: 245.183px;
}


.integrante_nombre{

    padding-top:10px;

    font-weight: 700;

    color: #018DC8;

}


.titulo_modelo{

    color:black;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

}
